
		<script src="/assets/dist/js/kickoff.js"></script>
		{{#if docs}}
		<script src="/assets/dist/js/styleguide.js"></script>
		{{/if}}

		<!--
			Use Google Analytics? Add the embed from here:
			https://gist.github.com/mrmartineau/6b96e3e12c315af33ad5
		-->

	</body>
</html>
